* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(27, 27, 27); 
  color: #ccc; 
}

/* Header */
header {
  position: relative;
  background-color: #40474f;
  margin-bottom: 1em;
  padding: 1em;
}
header > h1 {
  padding: 0.5em 0.1em;
  color: #ffffff;
  text-align: center;
}

header .title, header .title a h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  /* font-size: 22px;   */
  text-decoration: none ;
}

header .title a{
  text-decoration: none;
  color: #ffffff;
}

form {
  display: grid;
}

form p {
  text-align: center;
  color: #eee;
}

form button, #button {
  max-width: 60%;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: #d55140;
  border: #d55140;
  color: #eee;
  font-weight: 500;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    color 0.2s ease-in;
}

form button:hover, #button:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgb(175, 69, 54);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

input.search-bar {
  max-width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  margin: 1em 0.5em;
}

/* images in artcollection */
.collections {
  margin: 2em 2em;
  padding: 1em 1em;
  /* background-color: #40474f; */
}
.collections > h3{
  color: rgb(228, 225, 225);
  padding: 0 0 1em 0;
}

.collections > h1, .collections > h2 {
  padding: 1em;
}

.collection article a{
  display: grid;
  grid-template-rows: 4em 2em 1fr;
}

section article figure img {
  width: 100vw;
  max-width: 100%;
}

article {
  background-color: #40474f;
  /* border: 2px solid red; */
  margin: 1em;
  padding: 1em;
}

article a {
  text-decoration: none;
}
article h2 {
  color: #ccc;
  /* padding: 1em; */
}
article h3 {
  font-weight: light;
  color: #ccc;
}

article p {
  padding: 1em;
  color: #ccc;
}

#detail section {
  display: grid;
  padding: 1em;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
#detail section img{
  max-width: 100%;
}

#detail h2{
  padding: 1em;
}


/* loading animation */
.loading div i{
  vertical-align: middle;
  display: inline-block;
  border-left: 8px solid #d55140;
  height: 10px;
  animation: scaleUp 0.5s linear infinite alternate;
}

.loading div i:nth-child(2) {
  animation-delay: .1s;
}
.loading div i:nth-child(3) {
  animation-delay: .2s;
}
.loading div i:nth-child(4) {
  animation-delay: .3s;
}

@keyframes scaleUp {
  to {
    /*     transform: scaleY(40px); */
    height: 50px;
  }
}

.displayLoading {
  display: flex;
}

@media screen and (min-width: 1080px) {
  form {
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
  }
  .collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
}
